/* font-family: 'Playfair Display', serif; */
/* rgb(252,252,252); */
html{
  margin: -10px;
  padding: 0px;
  font-family: 'Playfair Display', serif;
  background-color: rgb(252,252,252);
}
a{
  text-decoration: none;
}
.git{
  z-index: 1;
  position: fixed;
  bottom: 3vh;
  right: 49vw;
  opacity: 0.4;
}
/* curtain opening */
.background{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgb(252,252,252);
  -webkit-animation-name: "enter";
  -webkit-animation-duration: 4s;
}
@-webkit-keyframes enter {
  0%{
    width: 100vw;
    height: 100vh;
    left: 0px;
    background-color: black;
  }
  60%{
    width: 100vw;
    height: 100vh;
    left: 0px;
    background-color: black;
  }
  100%{
    width: 0vw;
    height: 100vh;
    left: 100vw;
    background-color: black;
  }
}
/* H1 enters from left */
h1{
  position: fixed;
  left: 40px;
  font-size: 50px;
  -webkit-animation-name: "show";
  -webkit-animation-duration: 4s;
  color: black;
  font-weight: 400;
}
@-webkit-keyframes show {
  0%{
    left: 0px;
    opacity: 0;
    color: rgb(252,252,252);
  }
  30%{
    left: 40px;
    opacity: 1;
    color:rgb(252,252,252);
  }
  50%{
    left: 40px;
    opacity: 1;
    color:rgb(252,252,252);
  }
  100%{
    left: 40px;
    opacity: 1;
    color:black;
  }
}

/* NAVIGATION appears from right */
.nav{
  display: block;
  position: fixed;
  right: 80px;
  top: 25px;
  z-index: 1;
}
.bar1{
  position: fixed;
  top: 55px;
  width: 36px;
  height: 3px;
  background-color: black;
  -webkit-animation-name: "show1";
  -webkit-animation-duration: 4s;
}
@-webkit-keyframes show1 {
  0%{
    right: 0px;
    opacity: 0;
  }
  30%{
    right: 0px;
    opacity: 0;
    color:rgb(252,252,252);
    background-color: white;
  }
  45%{
    right: 44px;
    opacity: 1;
    background-color: rgb(252,252,252);
  }
  90%{
    right: 44px;
    opacity: 1;
    background-color: rgb(252,252,252);
  }
  100%{
    right: 44px;
    opacity: 1;
    background-color: black;
  }
}
.bar2{
  position: fixed;
  top: 68px;
  width: 36px;
  height: 3px;
  background-color: black;
  -webkit-animation-name: "show2";
  -webkit-animation-duration: 4s;
}
@-webkit-keyframes show2 {
  0%{
    right: 0px;
    opacity: 0;
  }
  45%{
    right: 0px;
    opacity: 0;
    color:white;
    background-color:rgb(252,252,252);
  }
  60%{
    right: 44px;
    opacity: 1;
    background-color: rgb(252,252,252);
  }
  90%{
    right: 44px;
    opacity: 1;
    background-color: rgb(252,252,252);
  }
  100%{
    right: 44px;
    opacity: 1;
    background-color: black;
  }
}
.bar3{
  position: fixed;
  top: 81px;
  width: 20px;
  height: 3px;
  background-color: black;
  -webkit-animation-name: "show3";
  -webkit-animation-duration: 4s;
}
.blank{
  position: fixed;
  top: 55px;
  width: 36px;
  height: 36px;
  background-color:rgba(1,1,1,0);
}
@-webkit-keyframes show3 {
  0%{
    right: 0px;
    opacity: 0;
  }
  60%{
    right: 0px;
    opacity: 0;
    color:white;
    background-color: rgb(252,252,252);
  }
  75%{
    right: 60px;
    opacity: 1;
    background-color:rgb(252,252,252);
  }
  90%{
    right: 60px;
    opacity: 1;
    background-color:rgb(252,252,252);
  }
  100%{
    right: 60px;
    opacity: 1;
    background-color: black;
  }
}
.link a{
  color: black;
}
.name{
  font-family: 'Raleway Dots', cursive;
  position: fixed;
  left: 45vw;
  top: 60px;
  font-size: 25px;
}
/* ABOUT */
.n1:hover{
  text-decoration: underline;
}
.aboutme{
  font-size: 60px;
  position: fixed;
  top: 28vh;
  left: 30vw;
}
.abttext{
  font-size: 25px;
  position: fixed;
  top: 45vh;
  left:30vw;
  right: 20vw;
  line-height: 45px;
  bottom: 10vh;
}
.aboutmetext{
  z-index: 3;
}
.aboutmetext2{
  top: 70vh;
  opacity: 0;
  z-index: 2;
}
.aboutmetext3{
  top: 70vh;
  opacity: 0;
  z-index: 1;
}
.aboutmetext4{
  top: 70vh;
  opacity: 0;
  z-index: 1;
}
span{
  text-decoration: overline;
}
.opacity{
  opacity: 0;
}
.pointerno{
  pointer-events: none;
}
/* PROJECTS */
.type{
  position: fixed;
  top: 60px;
  font-weight: 600;
}
.n1{
  right: 600px;
}
.n2{
  right: 500px;
}
.pi:hover{
  text-decoration: underline;
}
.pi:active{
  color: rgb(139,0,0);
}
.pp{
  position: fixed;
  padding-top: 15px;
  display: block;
  font-weight: 400;
}
.pi{
  margin-top: 13px;
}
.p1{
  right: 500px;
}
.p2{
  right: 500px;
}
.p3{
  right: 500px;
}
.n3{
  right: 400px;
}
.n4{
  right: 230px;
}
.n5{
  right: 130px;
}

.hide{
  display: none;
}
.appear{
  -webkit-animation-name: "appear";
  -webkit-animation-duration: 1s;
}
@-webkit-keyframes appear {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

/* EXCERCISE */
.n3:hover{
  text-decoration: underline;
}
/* READING */
.n4:hover{
  text-decoration: underline;
}
/* iframe */
iframe{
  position: fixed;
  top: 120px;
  left: 15vw;
  width: 70vw;
  height: 75vh;
  /* border-width: 1px;
  border-color: rgba(0,0,0,0.1); */
}
/* vertical tag */
.tag{
  transform: rotate(270deg);
  text-decoration: underline;
  position: fixed;
  top: 160px;
  left: 8vw;
  font-size: 20px;
}
/* page navigation */
.left{
  pointer-events: none;
  z-index: 1;
  position: fixed;
  bottom: 11.5vh;
  right: 4vw;
  height: 28px;
  opacity: 0.5;
}
.right{
  pointer-events: none;
  z-index: 1;
  position: fixed;
  bottom:11.5vh;
  left: 5vw;
  height: 28px;
  opacity: 0.5;
}
.tag1{
  position: fixed;
  bottom: 12vh;
  left: 4.5vw;
  opacity: 0;
  padding-left: 30px;
  transition: opacity 1s linear
}
.tag2{
  position: fixed;
  bottom: 12vh;
  right: 3.5vw;
  opacity: 0;
  padding-right: 30px;
  transition: opacity 1s linear
}
.tag1:hover{
  opacity: 1;
}
.tag2:hover{
  opacity: 1;
}
.text1{
  position: fixed;
  top: 120px;
  left: 20vw;
  width: 65vw;
  height: 80vh;
  overflow:scroll;
  line-height: 28px;
}

/* homepage recs */
.home{
  position: fixed;
  height: 40vh;
  width: 6vw;
}
.rec1{
  background-color: rgb(0,0,0);
  top: 30vh;
  left: 33vw;
  transition: width 1s, height 1s, -webkit-transform 1s;
}
.rec1:hover{
  width: 30vw;
  height: 44vh;
  transform: translateX(-24vw);
  transform: translateY(-1vh);
  z-index: 1;
}
.rec2{
  background-color: rgb(40,40,40);
  top: 30vh;
  left: 39vw;
  transition: width 1s, height 1s, -webkit-transform 1s;
}
.rec2:hover{
  width: 30vw;
  height: 44vh;
  transform: translateX(-24vw);
  transform: translateY(-1vh);
  z-index: 1;
}
.rec3{
  background-color: rgb(80,80,80);
  top: 30vh;
  left: 45vw;
  transition: width 1s, height 1s, -webkit-transform 1s;
}
.rec3:hover{
  width: 30vw;
  height: 44vh;
  transform: translateX(-24vw);
  transform: translateY(-1vh);
  z-index: 1;
}
.rec4{
  background-color: rgb(120,120,120);
  top: 30vh;
  left: 51vw;
  transition: width 1s, height 1s, -webkit-transform 1s;
}
.rec4:hover{
  width: 30vw;
  height: 44vh;
  transform: translateX(-24vw);
  transform: translateY(-1vh);
  z-index: 1;
}
.rec5{
  background-color: rgb(160,160,160);
  top: 30vh;
  left: 57vw;
  transition: width 1s, height 1s, -webkit-transform 1s;
}
.rec5:hover{
  width: 30vw;
  height: 44vh;
  transform: translateX(-24vw);
  transform: translateY(-1vh);
  z-index: 1;
}
.rec6{
  background-color: rgb(200,200,200);
  top: 30vh;
  left: 63vw;
  transition: width 1s, height 1s, -webkit-transform 1s;
}
.rec6:hover{
  width: 30vw;
  height: 44vh;
  transform: translateX(-24vw);
  transform: translateY(-1vh);
  z-index: 1;
}
.text{
  z-index: 2;
  color: white;
  text-shadow: 0 0 5px white;
  position: fixed;
  top: 49vh;
  font-size: 22px;
  pointer-events: none;
}
.recab{
  left: 45vw;
}
.recp1{
  left: 51vw;
}
.recp2{
  left: 57vw;
}
.recp3{
  left: 63vw;
}
.recex{
  left: 69vw;
}
.recre{
  left: 71vw;
}
.home{
  -webkit-animation-name: "homeappear";
  -webkit-animation-duration: 6s;
}
@-webkit-keyframes homeappear {
  0%{
    opacity: 0;
  }
  60%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.process{
  /* position: fixed;
  top: 120px;
  left: 15vw;
  width: 70vw;
  height: 75vh; */
  overflow: scroll;
}
.m1{
  position: fixed;
  top: 120px;
  left: 15vw;
  width: 25vw;
}
.m2{
  position: fixed;
  top: 120px;
  left: 41vw;
  width: 25vw;
}
.m3{
  position: fixed;
  top: 120px;
  left: 67vw;
  width: 25vw;
}
